body {
    width: 100%;
    background-color: #aecdf5;
}

.container {
    width: 100%;
    background-color: white;
    margin-top: 25px;
    border-radius: 15px;
    font-family: 'MUGEN Value', sans-serif;
}

#judul {

    font-size: 33px;
    padding-top: 15px;
}

.table {

    padding-top: 5px;
    width: 100%;
}



h1{
    text-align:center;
}


#indexTable_wrapper div div:nth-child(1) div:nth-child(1){
   
    margin-top: 5px
}

#indexTable_filter label input[type=search]{
    width: 175px;
}

#indexTable_wrapper > div > div:nth-child(1) > div.col-6.mt--2 > div > button.dt-button.buttons-excel.buttons-html5.btn.btn-success{
    margin-top: 5px;
    color: forestgreen;
}

#indexTable_wrapper > div > div:nth-child(1) > div.col-6.mt--2 > div > button.dt-button.buttons-pdf.buttons-html5{
    color: red;
}

#indexTable_wrapper > div > div:nth-child(1) > div.col-6.mt--2 > div {
    margin-top: -1px;
}