@{
    Layout = "_LayoutLatihan";
}

<div class="container">
    <h1>Latihan</h1>
    <div class="row" id="row1">
        Klik button untuk merubah warna background
    </div>
    <button class="button" onclick="changeColor()">Color</button>

    <div class="row" id="row2">
        dont click the button!!
    </div>
    <button class="button" id="btn3">Text</button>

    <div class="row" id="row3">
        <img id="image" src="" />
    </div>
    <button class="button" onclick="show()" id="btn4">Show Image</button>
</div>


